/* resets */
* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  display: flex; /**/
  flex-direction: column;

  margin: 0;
  padding: 0;
  height: 100vh;

  font-family: 'segoe ui', helvetica, sans-serif;

  background-color: rgb(255, 247, 213);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-size: 16px;
}

ul,
li,
a {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

/* custom properties */
/* 
:root {
  --primary-c: 
} */



/* header style */

header {
  display: flex; /**/
  flex-direction: column;
  justify-content: space-evenly;

  width:100vw;
  height: 50vh;
  background-color: aquamarine;
}

ul {
  display: flex; /**/
  justify-content: space-evenly;
}

ul > li {
  flex-grow: 1;

  min-width: 100px;
  max-width: 300px;
}

li,
li > a {
  display: block;
  text-align: center;
}

li > a:hover {
  background-color: lightsalmon;
  color: aquamarine;
}

header > h1 {
  font-size: 36px;

  text-align: center;
}


/* main content styling */

main {
  display: flex; /**/
  flex-direction: column;
  align-items: center;

  padding: 5vh 15vw;

  /* height: 100%; */
}

main > h2 {
  font-size: 24px;
}

main > section {
  background-color: plum;

  margin-top: 50px;
  width: 100%;

  border-radius: 15px;
}


/* footer styling */

footer {
  display: flex; /**/
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  height: 10vh;
  
  background-color: aquamarine;

  text-align: center;
}

footer > p {
  margin: 0;
}




/* visualization purposes -- delete later */

ul {
  border: 2px solid azure;
}

ul > li {
  border: 2px dashed black;
}

ul > li > a {
  border: 2px dotted orange;
}